body {
  font-family: "Calibri";
  color: #000;
  font-size: 14px; }

/*======================= Global Code ========================*/
.no-padding {
  padding: 0; }

/*======================= Header ========================*/
/*======================= Header Top ========================*/
.header-top {
  background: #606060; }
  .header-top .container {
    background: url(../images/header-bg.png) no-repeat right;
    background-position-x: 86%;
    position: relative; }
    .header-top .container:after {
      content: "";
      background: url(../images/fox.png);
      position: absolute;
      right: 0;
      top: 25px;
      width: 215px;
      height: 304px;
      background-size: 100%; }
  .header-top .header-to-right {
    margin-top: 95px; }
  .header-top .social {
    text-align: right;
    margin-bottom: 10px; }
    .header-top .social a {
      display: inline-block;
      color: #fff;
      font-size: 20px;
      margin-left: 35px; }
  .header-top .search {
    width: 223px;
    background: #fff;
    border: 5px solid #da4138;
    float: right; }
    .header-top .search input {
      padding: 5px; }
    .header-top .search input[type=text] {
      background: none;
      border: none;
      width: calc(100% - 35px);
      float: left; }
    .header-top .search input[type=submit] {
      background: none;
      border: none;
      width: 35px;
      float: left;
      font-family: 'FontAwesome'; }

.logo {
  display: inline-block;
  padding: 40px 0 25px; }

/*======================= Menu ========================*/
.navbar-default {
  background-color: transparent;
  border-color: transparent;
  margin: 0; }

/*======================= main Menu ========================*/
.main-menu {
  background: #283b91; }
  .main-menu .navbar-default .navbar-nav > li a {
    color: #fff;
    font-size: 18px;
    padding-right: 40px; }

/*======================= Sceond Menu ========================*/
.sceond-menu .navbar-default .navbar-nav > li a {
  color: #433d3d;
  font-size: 14px;
  padding-right: 30px; }

main {
  background: #e9ebee;
  padding-bottom: 100px; }

/*======================= Third Menu ========================*/
.third-menu {
  padding-top: 1px; }
  .third-menu .navbar-default {
    background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#dcdcdc));
    background: linear-gradient(#f4f4f4, #dcdcdc);
    border-color: #fff;
    border-radius: 0;
    padding: 15px; }
  .third-menu .navbar-nav {
    margin-top: 5px; }
  .third-menu .navbar-nav > li {
    margin: 0 15px; }
  .third-menu .navbar-nav > li > a {
    padding: 0;
    color: #000;
    font-size: 15px;
    position: relative; }
    .third-menu .navbar-nav > li > a:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 5px;
      bottom: -8px;
      left: 0;
      background: #e83f35;
      opacity: 0; }
    .third-menu .navbar-nav > li > a:hover:after {
      opacity: 1; }
  .third-menu .navbar-nav > li.curent-menu > a:after {
    opacity: 1; }
  .third-menu .flags {
    width: 374px; }
  .third-menu .brazil {
    float: left;
    width: 50%; }
    .third-menu .brazil img {
      float: left;
      margin-right: 10px; }
    .third-menu .brazil p {
      margin: 0;
      font-size: 24px; }
  .third-menu .year {
    float: left;
    width: 50%;
    margin-top: 5px; }
    .third-menu .year select {
      border: none;
      background: transparent;
      padding: 2px 35px 0 5px;
      font-size: 16px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: url(../images/arrow.png) right no-repeat #fff;
      outline: none;
      color: #000;
      color: transparent;
      text-shadow: 0 0 0 #000; }

.main-content {
  margin-top: 15px;
  /*======================= Center Content ========================*/
  /*======================= Right Sidebar ========================*/
  /*======================= Left Sidebar ========================*/ }
  .main-content .main-centent-row {
    margin: 0 -25px; }
  .main-content .head h3 {
    margin: 0;
    background: #fff;
    border-bottom: 1px solid #dee0e3;
    font-size: 20px;
    color: #e83f35;
    text-transform: uppercase;
    padding: 8px 15px; }
  .main-content .nav-tabs > li > a,
  .main-content .nav-tabs > li > a:focus,
  .main-content .nav-tabs > li > a:hover {
    color: #433d3d;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    border-radius: 0;
    padding: 5px 15px;
    font-weight: 700; }
  .main-content .nav-tabs > li > a:focus,
  .main-content .nav-tabs > li > a:hover,
  .main-content .nav-tabs > li.active > a {
    color: #283b91; }
  .main-content .table {
    margin-bottom: 0; }
  .main-content .center-div {
    float: right;
    padding: 0 10px; }
    .main-content .center-div > div {
      margin-bottom: 25px;
      overflow: hidden;
      border-radius: 5px; }
    .main-content .center-div .players {
      background: #fff;
      overflow: hidden;
      border-radius: 5px; }
      .main-content .center-div .players td,
      .main-content .center-div .players th {
        border: none;
        padding: 8px 15px; }
      .main-content .center-div .players thead th {
        background: #f4f5f6;
        font-size: 14px;
        color: #433d3d;
        margin-bottom: 10px; }
        .main-content .center-div .players thead th img {
          margin-right: 10px;
          vertical-align: top; }
      .main-content .center-div .players tbody tr td {
        color: #433d3d;
        font-size: 14px; }
      .main-content .center-div .players tbody tr:nth-child(even) {
        background: #f2f2f2; }
    .main-content .center-div .tabs-tittle {
      background: #fff; }
      .main-content .center-div .tabs-tittle .head {
        width: 40%;
        float: left; }
        .main-content .center-div .tabs-tittle .head h3 {
          border: none; }
      .main-content .center-div .tabs-tittle .nav {
        width: 60%;
        float: left;
        background: #fff;
        border: none;
        margin-top: 9px; }
        .main-content .center-div .tabs-tittle .nav li a {
          color: #494747;
          font-weight: 400;
          font-size: 12px;
          padding: 2px 5px;
          margin: 0 2px; }
          .main-content .center-div .tabs-tittle .nav li a:hover, .main-content .center-div .tabs-tittle .nav li a:focus {
            background: #606060;
            color: #fefefe; }
        .main-content .center-div .tabs-tittle .nav li.active a {
          background: #606060;
          color: #fefefe; }
      .main-content .center-div .tabs-tittle .tab-content {
        clear: both; }
    .main-content .center-div .point-table .tabs-tittle .head {
      width: 20%; }
    .main-content .center-div .point-table .tabs-tittle .nav {
      width: 80%; }
    .main-content .center-div .point-table .table {
      table-layout: fixed;
      word-wrap: break-word; }
      .main-content .center-div .point-table .table th,
      .main-content .center-div .point-table .table td {
        padding: 5px 0;
        text-align: center; }
      .main-content .center-div .point-table .table th {
        background: #606060;
        color: #fff;
        font-weight: 400; }
        .main-content .center-div .point-table .table th:nth-child(2) {
          text-align: left;
          padding: 5px 20px; }
      .main-content .center-div .point-table .table td:nth-child(11) {
        border-left: 1px solid #acacac;
        border-right: 1px solid #acacac; }
      .main-content .center-div .point-table .table td:nth-child(1) {
        font-weight: 700; }
      .main-content .center-div .point-table .table td:nth-child(2) {
        border-left: 1px solid #acacac;
        border-right: 1px solid #acacac;
        text-align: left;
        padding: 5px 8px;
        background: #efefef; }
        .main-content .center-div .point-table .table td:nth-child(2):before {
          font-size: 16px;
          line-height: 1;
          font-weight: 700;
          margin-right: 6px;
          font-family: 'FontAwesome'; }
      .main-content .center-div .point-table .table td span {
        text-transform: uppercase;
        color: #fff;
        background: #e85555;
        border-radius: 2px;
        display: inline-block;
        height: 20px;
        width: 20px;
        line-height: 20px;
        margin: 0 1px; }
      .main-content .center-div .point-table .table td .win {
        background: #33a865; }
      .main-content .center-div .point-table .table td .lose {
        background: #e85555; }
      .main-content .center-div .point-table .table td .draw {
        background: #e99e5a; }
      .main-content .center-div .point-table .table td .h2h {
        background: #bcbcbc; }
      .main-content .center-div .point-table .table .up:before {
        content: "\f106";
        color: #0a8d41; }
      .main-content .center-div .point-table .table .down:before {
        content: "\f107";
        color: #c93535; }
      .main-content .center-div .point-table .table tr:nth-child(even) td:nth-child(2) {
        background: #e0e0e0; }
  .main-content .right-div {
    float: right;
    padding: 0 10px; }
    .main-content .right-div > div {
      margin-bottom: 25px;
      overflow: hidden;
      border-radius: 5px; }
    .main-content .right-div .teams {
      background: #fff;
      border-radius: 5px;
      overflow: hidden; }
      .main-content .right-div .teams .nav-tabs {
        background: #f4f5f6; }
      .main-content .right-div .teams thead {
        background: #606060;
        color: #fff; }
      .main-content .right-div .teams th,
      .main-content .right-div .teams td {
        padding: 5px 15px;
        border: none;
        font-weight: 300;
        color: #433d3d; }
      .main-content .right-div .teams th {
        font-size: 14px;
        font-weight: 400;
        color: #fff; }
      .main-content .right-div .teams tr td:first-child {
        background: #efefef; }
    .main-content .right-div .videos {
      background: #fff;
      padding-bottom: 30px; }
      .main-content .right-div .videos iframe {
        width: 100%;
        height: 185px; }
      .main-content .right-div .videos .content {
        padding: 15px 15px 0; }
        .main-content .right-div .videos .content h4 {
          text-align: center;
          font-size: 18px;
          font-weight: 700;
          margin: 0;
          padding: 10px 0; }
  .main-content .left-div {
    padding: 0 10px;
    padding: 0 10px; }
    .main-content .left-div > div {
      margin-bottom: 25px;
      overflow: hidden;
      border-radius: 5px; }
    .main-content .left-div .left-div-inner {
      background: #fff;
      border-radius: 5px; }
    .main-content .left-div .league-list {
      padding: 15px; }
      .main-content .left-div .league-list ul {
        list-style: none;
        padding: 0;
        margin: 0; }
        .main-content .left-div .league-list ul li {
          overflow: hidden;
          text-overflow: ellipsis; }
          .main-content .left-div .league-list ul li a {
            font-size: 15px;
            font-weight: 300;
            line-height: 1.6;
            color: #585454;
            white-space: nowrap; }

.flags-small {
  padding: 5px 15px 5px;
  border-bottom: 1px solid #dee0e3; }
  .flags-small img {
    float: left;
    margin-right: 20px;
    margin-top: 4px; }
  .flags-small p {
    margin: 0;
    font-weight: 300;
    font-size: 20px;
    color: #e83f35;
    text-transform: uppercase; }

/*======================= Main Footer ========================*/
.main-footer {
  background: #484747;
  border-top: 25px solid #e83f35; }
  .main-footer .container {
    padding-top: 50px;
    padding-bottom: 40px;
    background: url(../images/footer-bg.png) no-repeat right #484747; }
  .main-footer h3 {
    color: #fff;
    margin: 0;
    font-size: 14px;
    margin-bottom: 5px; }
  .main-footer ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .main-footer ul a {
      color: #b3b3b3;
      line-height: 1.74; }
  .main-footer .copy {
    text-transform: uppercase;
    color: #b3b3b3;
    text-align: center;
    padding-top: 60px; }
