$f: 'Calibri';
body {
    font-family: $f;
    color: #000;
    font-size: 14px;
}

/*======================= Global Code ========================*/

.no-padding {
    padding: 0;
}

/*======================= Header ========================*/

/*======================= Header Top ========================*/

.header-top {
    background: #606060;
    .container {
        background: url(../images/header-bg.png) no-repeat right;
        background-position-x: 86%;
        position: relative;
        &:after {
            content: "";
            background: url(../images/fox.png);
            position: absolute;
            right: 0;
            top: 25px;
            width: 215px;
            height: 304px;
            background-size: 100%;
        }
    }
    .header-to-right {
        margin-top: 95px;
    }
    .social {
        text-align: right;
        margin-bottom: 10px;
        a {
            display: inline-block;
            color: #fff;
            font-size: 20px;
            margin-left: 35px;
        }
    }
    .search {
        width: 223px;
        background: #fff;
        border: 5px solid #da4138;
        float: right;
        input,
        button {
            padding: 5px;
        }
        input[type=text] {
            background: none;
            border: none;
            width: calc(100% - 35px);
            float: left;
        }
        button[type=submit] {
            background: none;
            border: none;
            width: 35px;
            float: left;
        }
    }
}

.logo {
    display: inline-block;
    padding: 40px 0 25px;
}

/*======================= Menu ========================*/

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    margin: 0;
}

/*======================= main Menu ========================*/

.main-menu {
    background: #283b91;
    .navbar-default .navbar-nav > li {
        a {
            color: #fff;
            font-size: 18px;
            margin-right: 30px;
        }
        &:first-child{
            a{
                padding-left: 0;
            }
        }
    }
}

/*======================= Sceond Menu ========================*/

.sceond-menu {
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    li {
        display: inline-block;
        margin-right: 30px;
        a {
            color: #433d3d;
            font-size: 14px;
            padding: 20px 15px;
            display: block;
        }
        &:first-child{
            a{
                padding-left: 0;
            }
        }
        &:last-child{
            margin-right: 0;
        }
    }
}

main {
    background: #e9ebee;
    padding-bottom: 100px;
}

/*======================= Third Menu ========================*/

.third-menu {
    padding-top: 1px;
    .navbar-default {
        background: linear-gradient(#f4f4f4, #dcdcdc);
        border-color: #fff;
        border-radius: 0;
        padding: 15px;
    }
    .navbar-nav {
        margin-top: 5px;
    }
    .navbar-nav > li {
        margin: 0 15px;
    }
    .navbar-nav > li > a {
        padding: 0;
        color: #000;
        font-size: 15px;
        position: relative;
        &:after {
            position: absolute;
            content: "";
            width: 100%;
            height: 5px;
            bottom: -8px;
            left: 0;
            background: #e83f35;
            opacity: 0;
        }
        &:hover {
            &:after {
                opacity: 1;
            }
        }
    }
    .navbar-nav > li.curent-menu > a {
        &:after {
            opacity: 1;
        }
    }
    .flags {
        width: 374px;
    }
    .brazil {
        float: left;
        width: 50%;
        img {
            float: left;
            margin-right: 10px;
        }
        p {
            margin: 0;
            font-size: 24px;
        }
    }
    .year {
        float: left;
        width: 50%;
        margin-top: 5px;
        select {
            border: none;
            background: transparent;
            padding: 2px 35px 0 5px;
            font-size: 16px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: url(../images/arrow.png) right no-repeat #fff;
            outline: none;
            color: #000;
            color: transparent;
            text-shadow: 0 0 0 #000;
        }
    }
}

/*======================= All  Content ========================*/

.main-content {
    margin-top: 15px;
    .main-centent-row {
        margin: 0 -25px;
    }
    .head {
        h3 {
            margin: 0;
            background: #fff;
            border-bottom: 1px solid #dee0e3;
            font-size: 20px;
            color: #e83f35;
            text-transform: uppercase;
            padding: 8px 15px;
        }
    }

    .table {
        margin-bottom: 0;
    }

}

/*======================= Start Center Content ========================*/

.center-div {
    float: right;
    padding: 0 10px;
    > div {
        margin-bottom: 25px;
        overflow: hidden;
        border-radius: 5px;
    }

}

/*======================= Players Table Scetion ========================*/

.players {
    background: #fff;
    overflow: hidden;
    border-radius: 5px;
    td,
    th {
        border: none;
        padding: 8px 15px;
    }
    thead {
        th {
            background: #f4f5f6;
            font-size: 14px;
            color: #433d3d;
            margin-bottom: 10px;
            text-align: center;
            &:first-child,
            &:nth-child(2) {
                text-align: left;
                padding-left: 25px;
            }
            img {
                margin-right: 10px;
                vertical-align: top;
            }
        }
    }
    tbody {
        tr {
            text-align: center;
            td {
                color: #433d3d;
                font-size: 14px;
            }
            &:nth-child(even) {
                background: #f2f2f2;
            }
        }
    }
}

/*======================= Table Tab Style ========================*/

.tabs-tittle {
    background: #fff;
    .head {
        width: 40%;
        float: left;
        h3 {
            border: none;
        }
    }
    .nav {
        width: 60%;
        float: left;
        background: #fff;
        border: none;
        margin-top: 9px;
        li {
            a {
                border-radius: 0;
                border: none;
                color: #494747;
                font-weight: 400;
                font-size: 12px;
                padding: 2px 5px;
                margin: 0 2px;
                &:hover,
                &:focus {
                    background: #606060;
                    color: #fefefe;
                    padding: 2px 5px;
                }
            }
        }
        li.active {
            a {
                background: #606060;
                color: #fefefe;
                border: none;
                padding: 2px 5px;
            }
        }
    }
    .tab-content {
        clear: both;
    }

}

/*======================= Poin Table Section ========================*/

.point-table {
    .tabs-tittle {
        .head {
            width: 20%;
        }
        .nav {
            width: 80%;
        }
    }
    .table {
        table-layout: fixed;
        word-wrap: break-word;
        th,
        td {
            padding: 5px 0;
            text-align: center;
        }
        th {
            background: #606060;
            color: #fff;
            font-weight: 400;
            &:nth-child(2) {
                text-align: left;
                padding: 5px 20px;
            }

        }
        td {
            &:nth-child(11) {
                border-left: 1px solid #acacac;
                border-right: 1px solid #acacac;
            }
            &:nth-child(1) {
                font-weight: 700;
            }

            &:nth-child(2) {
                border-left: 1px solid #acacac;
                border-right: 1px solid #acacac;
                text-align: left;
                padding: 5px 8px;
                background: #efefef;
                &:before {
                    font-size: 16px;
                    line-height: 1;
                    font-weight: 700;
                    margin-right: 6px;
                    font-family: 'Font Awesome 5 Free';
                }
            }
            span {
                text-transform: uppercase;
                color: #fff;
                background: #e85555;
                border-radius: 2px;
                display: inline-block;
                height: 20px;
                width: 20px;
                line-height: 20px;
                margin: 0 1px;
            }
            .win {
                background: #33a865;
            }
            .lose {
                background: #e85555;
            }
            .draw {
                background: #e99e5a;
            }
            .h2h {
                background: #bcbcbc;
            }

        }

        .up {
            &:before {
                content: "\f106";
                color: #0a8d41;
            }
        }
        .down {
            &:before {
                content: "\f107";
                color: #c93535;
            }
        }
        tr {
            &:nth-child(even) {
                td {
                    &:nth-child(2) {
                        background: #e0e0e0;
                    }
                }
            }
        }
    }
}

/*======================= Matches Table Section ========================*/

.matches {
    .date {
        padding: 5px 15px;
        background: #f4f5f6;
        color: #433d3d;
        font-weight: 700;
        margin-bottom: 15px;
    }
    .tabs-tittle {
        .nav {
            li {
                a {
                    font-size: 14px;
                    text-transform: uppercase;
                }
            }
        }
    }
    .table {
        table-layout: fixed;
        word-wrap: break-word;
    }
    tbody tr {
        text-align: left;
        td {
            border-top: transparent;
            border-bottom: 1px solid #dfdfdf;
            a {
                color: #433d3d;
                margin: 0 4px;
                .fa-calendar-alt {
                    font-size: 17px;
                }
                .fa-info {
                    height: 20px;
                    width: 19px;
                    text-align: center;
                    line-height: 17px;
                    border: 1px solid #433d3d;
                    border-radius: 50%;
                    font-size: 14px;
                    position: relative;
                    top: -1px;
                }
            }
            &:nth-child(1) {
                padding-left: 17px;
            }
            &:nth-child(2) {
                background: rgba(91, 91, 91, .20);
                width: 12%;
                text-align: center;
                font-weight: 700;
                border-bottom-color: #c6c6c6;
            }
            &:nth-child(3) {
                padding-left: 28px;
            }
            &:nth-child(4) {
                text-align: center;
                width: 15%;
            }
        }
    }
}

/*======================= End Center Content ========================*/

/*======================= Start Right Sidebar ========================*/

.right-div {
    float: right;
    padding: 0 10px;
    > div {
        margin-bottom: 25px;
        overflow: hidden;
        border-radius: 5px;
    }

}

/*======================= Team Table Section ========================*/

.teams {
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    .nav-tabs {
        background: #f4f5f6;
    }
    thead {
        background: #606060;
        color: #fff;
    }

    th,
    td {
        padding: 5px 15px;
        border: none;
        font-weight: 300;
        color: #433d3d;
    }
    th {
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        &:first-child {
            text-align: center;
        }
    }
    tr {
        td {
            &:first-child {
                background: #efefef;
                text-align: center;
            }
        }
    }
    .nav-tabs > li > a,
    .nav-tabs > li > a:focus,
    .nav-tabs > li > a:hover {
        color: #433d3d;
        cursor: pointer;
        background-color: transparent;
        border: none;
        padding: 0;
        border-radius: 0;
        padding: 5px 15px;
        font-weight: 700;
    }
    .nav-tabs > li > a:focus {}
    .nav-tabs > li > a:focus,
    .nav-tabs > li > a:hover,
    .nav-tabs > li.active > a {
        color: #283b91;
    }
}

/*======================= Youtube Video ========================*/

.videos {
    background: #fff;
    padding-bottom: 30px;
    iframe {
        width: 100%;
        height: 185px;
    }
    .content {
        padding: 15px 15px 0;
        h4 {
            text-align: center;
            font-size: 18px;
            font-weight: 700;
            margin: 0;
            padding: 10px 0;
        }
    }
}

/*======================= End Right Sidebar ========================*/

/*======================= Start Left Sidebar ========================*/

.left-div {
    padding: 0 10px;
    padding: 0 10px;
    > div {
        margin-bottom: 25px;
        overflow: hidden;
        border-radius: 5px;
    }
    .left-div-inner {
        background: #fff;
        border-radius: 5px;
    }

}

/*======================= List Of team ========================*/

.league-list {
    padding: 15px;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            overflow: hidden;
            text-overflow: ellipsis;
            a {
                font-size: 15px;
                font-weight: 300;
                line-height: 1.6;
                color: #585454;
                white-space: nowrap;
            }
        }
    }
}

.flags-small {
    padding: 5px 15px 5px;
    border-bottom: 1px solid #dee0e3;
    img {
        float: left;
        margin-right: 20px;
        margin-top: 4px;
    }
    p {
        margin: 0;
        font-weight: 300;
        font-size: 20px;
        color: #e83f35;
        text-transform: uppercase;
    }
}

/*======================= End Left Sidebar ========================*/

/*======================= Main Footer ========================*/

.main-footer {
    background: #484747;
    border-top: 25px solid #e83f35;
    .container {
        padding-top: 50px;
        padding-bottom: 40px;
        background: url(../images/footer-bg.png) no-repeat right #484747;
    }
    h3 {
        color: #fff;
        margin: 0;
        font-size: 14px;
        margin-bottom: 5px;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        a {
            color: #b3b3b3;
            line-height: 1.74;
        }
    }
    .copy {
        text-transform: uppercase;
        color: #b3b3b3;
        text-align: center;
        padding-top: 60px;
    }
}
