$f: 'Calibri';
body {
    font-family: $f;
    color: #000;
}

/*======================= Global Code ========================*/

.no-padding {
    padding: 0;
}

/*======================= Header ========================*/

/*======================= Header Top ========================*/

.header-top {
    background: #606060;
    .container {
        background: url(../images/header-bg.png) no-repeat right;
    }
    .header-to-right {
        margin-top: 95px;
    }
    .social {
        text-align: right;
        margin-bottom: 10px;
        a {
            display: inline-block;
            color: #fff;
            font-size: 20px;
            margin-left: 35px;
        }
    }
    .search {
        width: 223px;
        background: #fff;
        border: 5px solid #da4138;
        float: right;
        input {
            padding: 5px;
        }
        input[type=text] {
            background: none;
            border: none;
            width: calc(100% - 35px);
            float: left;
        }
        input[type=submit] {
            background: none;
            border: none;
            width: 35px;
            float: left;
            font-family: 'FontAwesome';
        }
    }
}

.logo {
    display: inline-block;
    padding: 45px 0 25px;
}

/*======================= Menu ========================*/

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    margin: 0;
}

.main-menu {
    background: #283b91;
    .navbar-default .navbar-nav > li {
        a {
            color: #fff;
            font-size: 18px;
            padding-right: 40px;
        }
    }
}

.sceond-menu {
    .navbar-default .navbar-nav > li {
        a {
            color: #433d3d;
            font-size: 14px;
            padding-right: 30px;
        }
    }
}

main {
    background: #e9ebee;
    min-height: 500px;
}

.third-menu {
    padding-top: 1px;
    .navbar-default {
        background: linear-gradient(#f4f4f4, #dcdcdc);
        border-color: #fff;
        border-radius: 0;
        padding: 15px;
    }
    .navbar-nav {
        margin-top: 5px;
    }
    .navbar-nav > li {
        margin: 0 15px;
    }
    .navbar-nav > li > a {
        padding: 0;
        color: #000;
        font-size: 15px;
        position: relative;
        &:after {
            position: absolute;
            content: "";
            width: 100%;
            height: 5px;
            bottom: -8px;
            left: 0;
            background: #e83f35;
            opacity: 0;
        }
        &:hover{
            &:after{
                opacity: 1;
            }
        }
    }
    .navbar-nav > li.curent-menu > a{
        &:after{
            opacity: 1;
        }
    }
    .flags {
        width: 374px;
    }
    .brazil {
        float: left;
        width: 50%;
        img {
            float: left;
            margin-right: 10px;
        }
        p {
            margin: 0;
            font-size: 24px;
        }
    }
    .year {
        float: left;
        width: 50%;
        margin-top: 5px;
        select {
            border: none;
            background: transparent;
            padding: 2px 35px 0 5px;
            font-size: 16px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: url(../images/arrow.png) right no-repeat #fff;
            outline: none;
            color: #000;
            color: transparent;
            text-shadow: 0 0 0 #000;
        }
    }
}
