body {
  font-family: "Calibri";
  color: #000;
  font-size: 14px; }

/*======================= Global Code ========================*/
.img-responsive {
  display: initial; }

.no-padding {
  padding: 0; }

/*======================= Header ========================*/
/*======================= Header Top ========================*/
.header-top {
  background: #606060; }
  .header-top .container {
    background: url(../images/header-bg.png) no-repeat right;
    background-position-x: 86%;
    position: relative; }
    .header-top .container:after {
      content: "";
      background: url(../images/fox.png) no-repeat;
      position: absolute;
      right: 0;
      top: 25px;
      width: 215px;
      height: 304px;
      background-size: 100%; }
  .header-top .header-to-right {
    margin-top: 95px; }
  .header-top .social {
    text-align: right;
    margin-bottom: 10px; }
    .header-top .social a {
      display: inline-block;
      color: #fff;
      font-size: 20px;
      margin-left: 35px; }
  .header-top .search {
    width: 223px;
    background: #fff;
    border: 5px solid #da4138;
    float: right; }
    .header-top .search input,
    .header-top .search button {
      padding: 5px; }
    .header-top .search input[type=text] {
      background: none;
      border: none;
      width: calc(100% - 35px);
      float: left; }
    .header-top .search button[type=submit] {
      background: none;
      border: none;
      width: 35px;
      float: left; }

.logo {
  display: inline-block;
  padding: 40px 0 25px; }

/*======================= Menu ========================*/
.navbar-default {
  background-color: transparent;
  border-color: transparent;
  margin: 0; }

/*======================= main Menu ========================*/
.main-menu {
  background: #283b91; }
  .main-menu .navbar-default .navbar-nav > li a {
    color: #fff;
    font-size: 18px;
    margin-right: 30px; }
  .main-menu .navbar-default .navbar-nav > li:first-child a {
    padding-left: 0; }

/*======================= Sceond Menu ========================*/
.sceond-menu ul {
  list-style: none;
  padding: 0;
  margin: 0; }
.sceond-menu li {
  display: inline-block;
  margin-right: 30px; }
  .sceond-menu li a {
    color: #433d3d;
    font-size: 14px;
    padding: 20px 15px;
    display: block; }
  .sceond-menu li:first-child a {
    padding-left: 0; }
  .sceond-menu li:last-child {
    margin-right: 0; }

main {
  background: #e9ebee;
  padding-bottom: 100px; }

/*======================= Third Menu ========================*/
.third-menu {
  padding-top: 1px; }
  .third-menu .navbar-default {
    background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#dcdcdc));
    background: linear-gradient(#f4f4f4, #dcdcdc);
    border-color: #fff;
    border-radius: 0;
    padding: 15px; }
  .third-menu .navbar-nav {
    margin-top: 5px; }
  .third-menu .navbar-nav > li {
    margin: 0 15px; }
  .third-menu .navbar-nav > li > a {
    padding: 0;
    color: #000;
    font-size: 15px;
    position: relative; }
    .third-menu .navbar-nav > li > a:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 5px;
      bottom: -8px;
      left: 0;
      background: #e83f35;
      opacity: 0; }
    .third-menu .navbar-nav > li > a:hover:after {
      opacity: 1; }
  .third-menu .navbar-nav > li.curent-menu > a:after {
    opacity: 1; }
  .third-menu .flags {
    width: 374px; }
  .third-menu .brazil {
    float: left;
    width: 50%; }
    .third-menu .brazil img {
      float: left;
      margin-right: 10px; }
    .third-menu .brazil p {
      margin: 0;
      font-size: 24px; }
  .third-menu .year {
    float: left;
    width: 50%;
    margin-top: 5px; }
    .third-menu .year select {
      border: none;
      background: transparent;
      padding: 2px 35px 0 5px;
      font-size: 16px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: url(../images/arrow.png) right no-repeat #fff;
      outline: none;
      color: #000;
      color: transparent;
      text-shadow: 0 0 0 #000; }

/*======================= All  Content ========================*/
.main-content {
  margin-top: 15px; }
  .main-content .main-centent-row {
    margin: 0 -25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }
    .main-content .main-centent-row .left-div {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
    .main-content .main-centent-row .center-div {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; }
    .main-content .main-centent-row .right-div {
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3; }
  .main-content .head h3 {
    margin: 0;
    background: #fff;
    border-bottom: 1px solid #dee0e3;
    font-size: 20px;
    color: #e83f35;
    text-transform: uppercase;
    padding: 8px 15px; }
  .main-content .table {
    margin-bottom: 0; }

/*======================= Start Center Content ========================*/
.center-div {
  padding: 0 10px; }
  .center-div > div {
    margin-bottom: 25px;
    overflow: hidden;
    border-radius: 5px; }

/*======================= Players Table Scetion ========================*/
.players {
  background: #fff;
  overflow: hidden;
  border-radius: 5px; }
  .players td,
  .players th {
    border: none;
    padding: 8px 15px; }
  .players thead th {
    background: #f4f5f6;
    font-size: 14px;
    color: #433d3d;
    margin-bottom: 10px;
    text-align: center; }
    .players thead th:first-child, .players thead th:nth-child(2) {
      text-align: left;
      padding-left: 25px; }
    .players thead th img {
      margin-right: 10px;
      vertical-align: top; }
  .players tbody tr {
    text-align: center; }
    .players tbody tr td {
      color: #433d3d;
      font-size: 14px; }
    .players tbody tr:nth-child(even) {
      background: #f2f2f2; }

/*======================= Table Tab Style ========================*/
.tabs-tittle {
  background: #fff; }
  .tabs-tittle .head {
    width: 40%;
    float: left; }
    .tabs-tittle .head h3 {
      border: none; }
  .tabs-tittle .nav {
    width: 60%;
    float: left;
    background: #fff;
    border: none;
    margin-top: 9px; }
    .tabs-tittle .nav li a {
      border-radius: 0;
      border: none;
      color: #494747;
      font-weight: 400;
      font-size: 12px;
      padding: 2px 5px;
      margin: 0 2px; }
      .tabs-tittle .nav li a:hover, .tabs-tittle .nav li a:focus {
        background: #606060;
        color: #fefefe;
        padding: 2px 5px; }
    .tabs-tittle .nav li.active a {
      background: #606060;
      color: #fefefe;
      border: none;
      padding: 2px 5px; }
  .tabs-tittle .tab-content {
    clear: both; }

/*======================= Poin Table Section ========================*/
.point-table .tabs-tittle .head {
  width: 20%; }
.point-table .tabs-tittle .nav {
  width: 80%; }
.point-table .table th,
.point-table .table td {
  padding: 5px 0;
  text-align: center; }
.point-table .table th {
  background: #606060;
  color: #fff;
  font-weight: 400; }
  .point-table .table th:nth-child(2) {
    text-align: left;
    padding: 5px 20px; }
.point-table .table .number {
  width: 6%; }
.point-table .table .team {
  width: 25%; }
.point-table .table .last-match {
  width: 23%; }
.point-table .table .h2h-head {
  width: 7%; }
.point-table .table td:nth-child(11) {
  border-left: 1px solid #acacac;
  border-right: 1px solid #acacac; }
.point-table .table td:nth-child(1) {
  font-weight: 700; }
.point-table .table td:nth-child(2) {
  border-left: 1px solid #acacac;
  border-right: 1px solid #acacac;
  text-align: left;
  padding: 5px 8px;
  background: #efefef; }
  .point-table .table td:nth-child(2):before {
    font-size: 16px;
    line-height: 1;
    font-weight: 700;
    margin-right: 6px;
    font-family: 'Font Awesome 5 Free'; }
.point-table .table td span {
  text-transform: uppercase;
  color: #fff;
  background: #e85555;
  border-radius: 2px;
  display: inline-block;
  height: 20px;
  width: 20px;
  line-height: 20px;
  margin: 0 1px; }
.point-table .table td .win {
  background: #33a865; }
.point-table .table td .lose {
  background: #e85555; }
.point-table .table td .draw {
  background: #e99e5a; }
.point-table .table td .h2h {
  background: #bcbcbc; }
.point-table .table .up:before {
  content: "\f106";
  color: #0a8d41; }
.point-table .table .down:before {
  content: "\f107";
  color: #c93535; }
.point-table .table tr:nth-child(even) td:nth-child(2) {
  background: #e0e0e0; }

/*======================= Matches Table Section ========================*/
.matches .date {
  padding: 5px 15px;
  background: #f4f5f6;
  color: #433d3d;
  font-weight: 700;
  margin-bottom: 15px; }
.matches .tabs-tittle .nav li a {
  font-size: 14px;
  text-transform: uppercase; }
.matches tbody tr {
  text-align: left; }
  .matches tbody tr td {
    border-top: transparent;
    border-bottom: 1px solid #dfdfdf; }
    .matches tbody tr td a {
      color: #433d3d;
      margin: 0 4px; }
      .matches tbody tr td a .fa-calendar-alt {
        font-size: 17px; }
      .matches tbody tr td a .fa-info {
        height: 20px;
        width: 19px;
        text-align: center;
        line-height: 17px;
        border: 1px solid #433d3d;
        border-radius: 50%;
        font-size: 14px;
        position: relative;
        top: -1px; }
    .matches tbody tr td:nth-child(1) {
      padding-left: 17px; }
    .matches tbody tr td:nth-child(2) {
      background: rgba(91, 91, 91, 0.2);
      width: 12%;
      text-align: center;
      font-weight: 700;
      border-bottom-color: #c6c6c6; }
    .matches tbody tr td:nth-child(3) {
      padding-left: 28px; }
    .matches tbody tr td:nth-child(4) {
      text-align: center;
      width: 15%; }

/*======================= End Center Content ========================*/
/*======================= Start Right Sidebar ========================*/
.right-div {
  padding: 0 10px; }
  .right-div > div {
    margin-bottom: 25px;
    overflow: hidden;
    border-radius: 5px; }

/*======================= Team Table Section ========================*/
.teams {
  background: #fff;
  border-radius: 5px;
  overflow: hidden; }
  .teams .nav-tabs {
    background: #f4f5f6; }
  .teams thead {
    background: #606060;
    color: #fff; }
  .teams th,
  .teams td {
    padding: 5px 15px;
    border: none;
    font-weight: 300;
    color: #433d3d; }
  .teams th {
    font-size: 14px;
    font-weight: 400;
    color: #fff; }
    .teams th:first-child {
      text-align: center; }
  .teams tr td:first-child {
    background: #efefef;
    text-align: center;
    font-weight: 700; }
  .teams .nav-tabs > li > a,
  .teams .nav-tabs > li > a:focus,
  .teams .nav-tabs > li > a:hover {
    color: #433d3d;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    border-radius: 0;
    padding: 5px 15px;
    font-weight: 700; }
  .teams .nav-tabs > li > a:focus,
  .teams .nav-tabs > li > a:hover,
  .teams .nav-tabs > li.active > a {
    color: #283b91; }

/*======================= Youtube Video ========================*/
.videos {
  background: #fff;
  padding-bottom: 30px; }
  .videos iframe {
    width: 100%;
    height: 185px; }
  .videos .content {
    padding: 15px 15px 0; }
    .videos .content h4 {
      text-align: center;
      font-size: 18px;
      font-weight: 700;
      margin: 0;
      padding: 10px 0; }

/*======================= End Right Sidebar ========================*/
/*======================= Start Left Sidebar ========================*/
.left-div {
  padding: 0 10px; }
  .left-div > div {
    margin-bottom: 25px;
    overflow: hidden;
    border-radius: 5px; }
  .left-div .left-div-inner {
    background: #fff;
    border-radius: 5px; }

/*======================= List Of team ========================*/
.league-list {
  padding: 15px; }
  .league-list ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .league-list ul li {
      overflow: hidden;
      text-overflow: ellipsis; }
      .league-list ul li a {
        font-size: 15px;
        font-weight: 300;
        line-height: 1.6;
        color: #585454;
        white-space: nowrap; }

.flags-small {
  padding: 5px 15px 5px;
  border-bottom: 1px solid #dee0e3; }
  .flags-small img {
    float: left;
    margin-right: 20px;
    margin-top: 4px; }
  .flags-small p {
    margin: 0;
    font-weight: 300;
    font-size: 20px;
    color: #e83f35;
    text-transform: uppercase; }

/*======================= End Left Sidebar ========================*/
/*======================= Main Footer ========================*/
.main-footer {
  background: #484747;
  border-top: 25px solid #e83f35; }
  .main-footer .container {
    padding-top: 50px;
    padding-bottom: 40px;
    background: url(../images/footer-bg.png) no-repeat right #484747; }
  .main-footer h3 {
    color: #fff;
    margin: 0;
    font-size: 14px;
    margin-bottom: 5px; }
  .main-footer ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .main-footer ul a {
      color: #b3b3b3;
      line-height: 1.74; }
  .main-footer .copy {
    text-transform: uppercase;
    color: #b3b3b3;
    text-align: center;
    padding-top: 60px; }
  .main-footer .footer-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }

.article {
  background: #fff;
  padding: 15px;
  color: #5a5456;
  border-radius: 5px;
  margin-bottom: 30px; }
